body{
	font-family: 'Scope One', serif;
	/*font-size: 20px;*/
	height: 1000px;
	
}

.header{
	position: fixed;
	z-index: 1;
	background-color: #ff8ea1;
	width: 100%;
}

#name {
	font-family:'Satisfy', cursive;	
	font-size: 50px;
	position: relative;
	color: white
}

#name:hover {
	font-family: 'Scope One', serif;
}

.connect {
	text-align: center;
	text-decoration: none;
	color: gray;
	color: white;
}

.thumb {
	width: 30px;
	height: 30px;
	background-color: white;
}

.thumb:hover{
	width: 40px;
	height: 40px;
	margin-top: -18px;
}

.click {
	color: grey;
	text-decoration: none;
}

.click:hover{
	text-decoration: none;
	font-family: 'Satisfy', cursive;

}

.cc{
	top: 170px;
	text-align: center;
	border-bottom: 1px solid black;
}

#crystal_collector {
	padding-top: 200px;
	font-size: 20px;
}

hr{
	border-color: black;
}

.tags {
	font-size: 15px;
}

img {
	width: 100%;
	height: auto;
}